@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-accent: #ccff00;
  --color-accent-hover: #b5e000;
  --color-primary: #0003f3;
  --color-primary-dark: #0002c0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0003f3;
}
